In [1]:
import pandas as pd
ydf =pd.read_csv('../data_files/YESBANK.csv')
ydf

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-01-16,334.000000,338.500000,328.000000,333.899994,319.873657,470267.0
1,2018-01-17,336.000000,343.750000,331.250000,342.500000,328.112457,653618.0
2,2018-01-18,350.000000,356.500000,333.100006,340.250000,325.956970,2419109.0
3,2018-01-19,348.000000,352.000000,339.250000,348.299988,333.668793,1659646.0
4,2018-01-22,349.000000,358.000000,349.000000,355.250000,340.326874,663569.0
...,...,...,...,...,...,...,...
484,2020-01-09,47.150002,48.450001,46.299999,47.299999,47.299999,6835915.0
485,2020-01-10,47.599998,48.349998,43.900002,44.799999,44.799999,15918973.0
486,2020-01-13,43.400002,44.000000,41.200001,42.099998,42.099998,10763969.0
487,2020-01-14,41.750000,41.750000,36.549999,38.549999,38.549999,18250917.0
488,2020-01-15,38.549999,41.099998,36.650002,39.799999,39.799999,19876620.0

In [2]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [3]:
ydf
ydf=ydf.dropna(axis=0, how='any')

In [4]:
ydf.isna().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [5]:
feature = ydf.pop(ydf[['Open','High','Low']])
target = ydf.pop(ydf[['Close']])

ValueError: Boolean array expected for the condition, not float64

In [ ]:
xtrain,xtest, ytrain, ytest= train_test_split(feature,target, test_size=0.2)

In [ ]:
# model = LinearRegression()
# print(xtrain)

In [ ]:
# training model

#reshaping logic
import numpy as np
xtrain=np.reshape(np.array(xtrain), (-1,1))
ytrain=np.reshape(np.array(ytrain), (-1,1))

model.fit(xtrain, ytrain)

In [ ]:
xtest=np.reshape(np.array(xtest), (-1,1))
ytest=np.reshape(np.array(ytest), (-1,1))
prediction = model.predict(xtest)

In [ ]:
ytest

In [ ]:
from sklearn.metrics import mean_squared_error
mean_squared_error(ytest,prediction)

In [ ]:
import pandas as pd
ydf =pd.read_csv('YESBANK.csv')
ydf

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [ ]:
ydf
ydf=ydf.dropna(axis=0, how='any')

In [ ]:
ydf.isna().sum()

In [ ]:
feature = ydf.pop('Low')
target = ydf.pop('Close')

In [ ]:
xtrain,xtest, ytrain, ytest= train_test_split(feature,target, test_size=0.2)

In [ ]:
model = LinearRegression()
print(xtrain)

In [ ]:
# training model

#reshaping logic
import numpy as np
xtrain=np.reshape(np.array(xtrain), (-1,1))
ytrain=np.reshape(np.array(ytrain), (-1,1))

model.fit(xtrain, ytrain)

In [ ]:
xtest=np.reshape(np.array(xtest), (-1,1))
ytest=np.reshape(np.array(ytest), (-1,1))
prediction = model.predict(xtest)

In [ ]:
ytest

In [ ]:
from sklearn.metrics import mean_squared_error
mean_squared_error(ytest,prediction)

In [7]:
import seaborn as sns
sns.scatterplot(ytest,values)

NameError: name 'ytest' is not defined